
h1{
    text-align: center;
    color: rgb(27, 134, 27);
}
.container{
    border: 3px solid black;
    height: 600px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.header{
    border: 3px solid red;
    height: 150px;
    overflow: auto;
}

.btn{
    padding:5px;
    margin:10px;
    background-color: lightblue;
    border-radius: 10px;
}
/* this is random stuff on html LOL */
.ticker{
    padding:5px;
    margin: 10px;
    border-radius: 10px;
    font-size: .9rem;
    text-indent: 5px;
}
/* this is in app.js i got lazy w names*/ 
.ticker1{
    padding:5px;
    margin: 10px;
    border-radius: 10px;
    font-size: .9rem;
    text-indent: 5px;
}

li{
    list-style: none;
}

.stocks{
    border: 3px blue solid;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    max-height:440px;
    overflow: auto;
}

.stock{
    border: 3px green solid;
    padding:10px;
    margin: 3px 0;
    width:60%;
    display:flex;
    text-align: start;
    justify-content: space-between;
}

.delete{
    border: 3px black solid;
    padding: 3px;
    align-self: center;
    justify-self: flex-end;
}

/* Index stuff below? */

body{
    display: flex;
    flex-direction: column;
}


form{
    text-align: center;
}

input[value='login']{
    padding:5px 15px;
    text-indent: 0;
    background-color: aliceblue;
}

a{
    text-decoration: none;
}
a:hover{
    transform: scale(1.1);
}
form:hover ~ #root{
    background-image: url('https://wompampsupport.azureedge.net/fetchimage?siteId=7575&v=2&jpgQuality=100&width=700&url=https%3A%2F%2Fi.kym-cdn.com%2Fphotos%2Fimages%2Fnewsfeed%2F001%2F499%2F832%2F75c.jpg');
}
.signup{
    margin:10px auto;    
    padding: 5px 15px;
    font-size: large;
    border: 2px black solid;
    border-radius: 10px;
    background-color: rgb(78, 182, 216, .3);
    
}